/*
 * Fonts
 */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');



/*
 * Base structure
 */

 html {
   overflow: hidden;
 }

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f4f5f7;
  overflow: hidden;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Logo
 */

 #logo {
   height: 90px;
   background-color: #111118;
   padding-top: 20px;
   padding-left: 10px;
   margin-right: -20px;
   margin-left: -20px;
   margin-top: -20px;
   border-bottom: 1px solid #373737;
 }

 .logo {
   font-size : 24px;
   font-weight: bold;
   text-shadow: 1px 2px 1px black;
 }

 .logo_img {
   padding-left: 10px;
   padding-right: 30px;
 }

 .subtext {
   position: absolute;
   font-size : 12px;
   font-weight: bold;
   margin-left: -65px;
   margin-top: 25px;
   text-shadow: 1px 1px 1px black;
   color : #1d5d2c;
 }


/*
 * Selection
*/

 #selection {
   width: 300px;
   height: 160px;
   margin-left : -5px;
   margin-top: 25px;
 }

 .box1 {
   display: block;
   position: relative;
   width: 138px;
   height: 70px;
   background-color: #1d1c27;
   box-shadow: 1px solid black;
   float: left;
   border-top-left-radius: 4px;
   margin-left: -5px;
 }

 .box1:after {
  content: "\f022";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 50px;
  color: white;
  top: 0%;
  left: 35%;
  z-index: 1;
}

 .box2 {
   display: block;
   position: relative;
   width: 138px;
   height: 70px;
   background-color: #1d1c27;
   box-shadow: 1px solid black;
   float: left;
   border-left: 2px solid #272634;
   border-top-right-radius: 4px;
 }

 .box2:after {
  content: "\f085";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 50px;
  color: white;
  top: 0%;
  left: 30%;
  z-index: 1;
}

 .box3 {
   margin-left: -5px;
   margin-top: 2px;
   position: relative;
   width: 138px;
   height: 70px;
   background-color: #1d1c27;
   box-shadow: 1px solid black;
   float: left;
   border-bottom-left-radius: 4px;
 }

 .box3:after {
  content: "\f0c0";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 50px;
  color: white;
  top: 0%;
  left: 30%;
  z-index: 1;
}

 .box4 {
   margin-top: 2px;
   position: relative;
   width: 138px;
   height: 70px;
   background-color: #1d1c27;
   box-shadow: 1px solid black;
   float: left;
   border-left: 2px solid #272634;
   border-bottom-right-radius: 4px;
 }

 .box4:after {
  content: "\f007";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 50px;
  color: white;
  top: 0%;
  left: 35%;
  z-index: 1;
}

 .box1:hover {
   opacity: 0.5;
   transition: 1s;
 }

 .box2:hover {
   opacity: 0.5;
   transition: 1s;
 }

 .box3:hover {
   opacity: 0.5;
   transition: 1s;
 }

 .box4:hover {
   opacity: 0.5;
   transition: 1s;
 }

 /*
  * Titre de Menu
 */

 .titre_menu {
   font-size: 16px;
   padding-left: 20px;
   font-weight: bold;
   text-transform: uppercase;
   text-shadow: 0px 1px 0px black;
   color : #1d5d2c;
 }

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  width : 300px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #272634;
    color : white;
  }
}

/* Sidebar navigation */

li {
  margin: 22px 0;
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  text-decoration: none;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  margin: 0 0 3px 0;
  padding-bottom: 10px;
  color : white;
  background-color: #1d1c27;
  text-decoration: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: none;
}

.nav-sidebar > li > a:hover {
 opacity: 0.5;
 transition: 0.5s;
}

.ru {
  color : #3e3ee6;
}

/*
 * Main content
 */

.main {
  padding: 0px;
  margin-left: 300px;
  background-color: #f4f5f7;
}

/*
 * Icons
 */

 div.check:before {
   content: "\f058";
   font-family: FontAwesome;
 }

 /*
  * Menubar
  */

 .main {
    overflow: hidden;
 }

 .menubar {
   width: 100%;
   height: 90px;
   position:fixed;
   overflow: hidden;
   background-color: white;
   box-shadow: 0 3px 2px -2px #c5c7dc;
   padding-top: 10px;
   padding-left: 10px;
 }

 .btn-primary {
   background-color: #43568a !important;
   border-color: #3d4e7d !important;
   margin-left: 5px;
 }

 .btn-primary-stop {
   color: white;
   background-color: #cd3434 !important;
   border-color: #b72f2f !important;
   margin-left: 5px;
 }

 .btn-primary:hover {
   color: #43568a;
   background-color: #fff !important;
   border-color: #43568a !important;
   transition: 0.5s;
 }

 .btn-primary-stop:hover {
   color: #cd3434;
   background-color: #fff !important;
   border-color: #cd3434 !important;
   transition: 0.5s;
 }

 .vr {
   width: 1px;
   height: 100%;
   border-left: 2px solid #e0e1e2;
   margin-left: 15px;
   margin-right: 10px;
 }

 .section_title {
   margin-top: 93px;
   position: absolute;
   height: 85px;
   width: 100%;
   background-color: #eff0f7;
   font-size: 24px;
   color : #787878;
 }

 .section_title_text {
   position: absolute;
   margin-left: 30px;
   margin-top: 10px;
   font-weight: bold;
   text-shadow: 2px 1px 2px white;
 }

 .section_title_subtext {
   position: absolute;
   font-size: 14px;
   margin-left: 30px;
   margin-top: 5px;
   font-weight: lighter;
 }

 /* Statistiques */

 .progress {
   display: inline-block;
   margin-left: 15px;
   width: 250px;
   background-color: #e0e1e2 !important;
   padding-bottom: -20px;
 }

 .text-xs-left {
   font-size: 12px !important;
   margin-left: 15px;
   margin-top: -15px;
 }
